<div id="modalOpzioni" class="modal fade" ng-controller="GGVApp-OpzioniModalController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Opzioni</h4>
            </div>
            <div class="modal-body">
                
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" id="selezioneOpzioni">
                        <li role="presentation" class="active">
                            <a href="#opzioniServer" aria-controls="home" role="tab" data-toggle="tab">Server</a>
                        </li>
                        <li role="presentation">
                            <a href="#opzioniStampanti" aria-controls="home" role="tab" data-toggle="tab">Stampanti</a>
                        </li>
                    </ul>
                
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="opzioniServer">
                            <ul>
                                <li ng-repeat="opzione in opzioni_modal.server">
                                    {{opzione.nome}}
                                    <input type="{{opzione.type || 'text'}}" ng-model="opzione.valore" />
                                </li>
                            </ul>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="opzioniStampanti">
                            <ul>
                                <li ng-repeat="stampante in opzioni_modal.stampanti">
                                    ({{stampante.tipo}}): 
                                    {{stampante.nomeMenu}} 
                                    {{stampante.nome}}
                                    
                                    <a class="btn" ng-click="rimuoviStampante($index)">Elimina</a>
                                </li>
                            </ul>
                            
                            <hr />
                            
                            Nuova:
                            <input placeholder="nome menu" type="text" ng-model="nuovaStampante.nomeMenu" />
                            <select ng-model="nuovaStampante.tipo">
                                        <option value="usb">USB</option>
                                        <option value="rete">Rete</option>
                            </select>

                            <input placeholder="nome-indirizzo" type="text" ng-model="nuovaStampante.nome" />
                            <button type="button" class="btn btn-default" ng-click="inserisciNuovaStampante()">
                                Aggiungi
                            </button>
                            
                            <hr />
                                    
                            <button type="button" class="btn btn-default" ng-click="aggiornaStampanti()">
                                Aggiorna Stampanti
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        ng-click="resetOpzioni()">Resetta opzioni</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"
                        ng-click="cancel()">Annulla</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        ng-click="ok()">Salva</button>
            </div>
        </div>
    </div>
</div>
