<div id="modalScorte" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Scorte</h4>
            </div>
            <div class="modal-body">

                Nuova scorta
                <!--
                <select ng-model="nuova.pasto">
                    <option value="pranzo domenica">Pranzo Domenica</option>
                    <option value="cena domenica">Cena Domenica</option>
                    <option value="cena sabato">Cena Sabato</option>
                </select>
                -->
                <br/>
                <select ng-model="nuovaScorta.prodotto"
                        ng-options="prodotto for prodotto in prodotti">
                </select>
                <input type="number" placeholder="numero" style="width:100px;" 
                       ng-model="nuovaScorta.qta" />

                <button type="button" class="btn btn-default" ng-click="aggiungiScorta()">
                    Aggiungi
                </button>

                <hr />

                <ul>
                    <li ng-repeat="scorta in scorte">
                        {{scorta.doc.qta}} 
                        {{scorta.doc.prodotto}}
                        <a href="#" ng-click="elimina(scorta.doc)">
                            elimina
                        </a>
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Chiudi
                </button>
            </div>
        </div>
    </div>
</div>
