<div>
    <button class="btn btn-lg btn-default"
            style="height: 100px; width: 200px; background: #13de43; font-size: 25px;"
            ng-click="stampa_archivia()">
        Stampa
    </button>

    <button class="btn btn-lg btn-default"
            style="height: 100px; width: 200px; background: red; font-size: 25px;"
            ng-click="cancella()">
        Cancella
    </button>

    <button class="btn btn-lg btn-default"
            style="height: 100px; width: 200px; margin-left: 100px; font-size: 22px;"
            ng-click="stampa()">
        Stampa<br />(senza archiviare) 
    </button>

    <button class="btn btn-lg btn-default"
            style="height: 100px; width: 200px; font-size: 22px;"
            ng-click="archivia()">
        Archivia<br />(senza stampare)
    </button>
</div>