<div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="selezioneGruppi">
        <li role="presentation" class="active">
            <a href="#tuttiGruppi" role="tab" data-toggle="tab">Tutti</a>
        </li>
        <li ng-repeat="(gruppo,elenco) in menu" role="presentation">
            <a aria-controls="{{gruppo}}" role="tab" data-toggle="tab"
               href="#{{gruppo}}" style="text-transform: capitalize">
                {{gruppo}}
            </a>
        </li>
    </ul>

    <div class="tab-content" style="padding: 10px;">
        <!-- tuttiGruppi -->
        <div role="tabpanel" class="tab-pane active" id="tuttiGruppi">
            <div style="display: inline" ng-repeat="(gruppo, elencoProdotti) in menu">
                <button ng-class="gruppo"
                        style="margin: 5px; width: 120px; height: 120px; white-space: normal;"
                        ng-repeat='prodotto in elencoProdotti' class="btn btn-lg btn-default"
                        ng-click="ordine.vocePerNome(prodotto.nome).inc();" >
                    {{prodotto.nome}}<br />{{prodotto.prezzo| currency}}
                </button>
            </div>
        </div>

        <!-- ripetizione gruppi -->
        <div role="tabpanel" class="tab-pane"
             ng-repeat="(gruppo, elencoProdotti) in menu" id="{{gruppo}}">
            <button ng-class="gruppo" class="btn btn-lg btn-default"
                    style="margin: 5px; width: 120px; height: 120px; white-space: normal;"
                    ng-repeat='prodotto in elencoProdotti'
                    ng-click="ordine.vocePerNome(prodotto.nome).inc();" >
                {{prodotto.nome}}
            </button>
        </div>
    </div>
</div>

<hr />

<div style="padding: 10px;">
    <div>
        <div style="float: left; margin-right: 40px;">
            <h2>Totale: {{totaleOrdine| currency}}</h2>
            Contanti:
            <input type="number" ng-model="contanti" min="0" max="500" style="">
            Resto: {{ contanti - totaleOrdine }}
            <hr />
            <h3>Totale ultimo ordine: {{ultimoTotale| currency}}</h3>
            Contanti:
            <input type="number" ng-model="contantiUltimoOrdine" min="0" max="500" style="">
            Resto: {{ contantiUltimoOrdine - ultimoTotale }}
            <h3>Asporto: <input ng-model="ordine.asporto" type="checkbox" /></h3>
        </div>
        <div>
            <azioni-ordine></azioni-ordine>
        </div>
        <div style="clear: both;"></div>
    </div>


    <div style="float: left; margin-right: 20px;" ng-repeat="(gruppo, elencoProdotti) in ordineFiltrato" >
        <h3>{{gruppo}}</h3>
        <table style="" class="table table-striped">
            <thead>
            <td>Nome</td>
            <td>Qta</td>
            <td>Div.</td>
            <td>Asp.</td>
            <td>Note</td>
            </thead>
            <tbody>
                <tr ng-repeat="prodotto in elencoProdotti">
                    <td style="width:100px">{{prodotto.nome}}</td>
                    <td style="width:140px">
                        <button ng-click='ordine.vocePerNome(prodotto.nome).inc();'> +  </button>
                        <input type="number" style="width:50px;" ng-model="ordine.vocePerNome(prodotto.nome).qta" />
                        <button ng-click='ordine.vocePerNome(prodotto.nome).dec();'> -  </button>
                    </td>
                    <td style="width:20px">
                        <input type="checkbox" ng-model='ordine.vocePerNome(prodotto.nome).dividiStampa' />
                    </td>
                    <td style="width:20px">
                        <input type="checkbox" ng-model='ordine.vocePerNome(prodotto.nome).asporto' />
                    </td>
                    <td style="width:20px">
                        <input size="10" type="text" ng-model="ordine.vocePerNome(prodotto.nome).note">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



</div>

<!-- PALLA -->
<!-- <script src="lib/holder.js"></script> -->

<!--
                        <div class="col-xs-6 col-sm-3 placeholder">
                            <img data-src="holder.js/50x50/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail"
                                 ng-click='ordine.voci[prodotto.nome].inc();'>
                            <h4>{{prodotto.nome}}</h4>
                            <button ng-click='ordine.voci[prodotto.nome].inc();'> +  </button>
                            <button ng-click='ordine.voci[prodotto.nome].dec();'> -  </button>
                            <input type='number' ng-model='ordine.voci[prodotto.nome].qta' />
                        </div>
-->
