<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Cassa GGV</title>
        
        <link rel="stylesheet" type="text/css" href="../css/index.css" />

        
        <script src="../lib/jquery-1.11.1.min.js"></script>
        <!--
                <script src="./js/jquery.mobile-1.4.4.min.js"></script>
        -->


        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="../lib/bootstrap.min.css">
        
        <script src="../lib/bootstrap.min.js"></script> 


        <script type="text/javascript" src="../js/functions.js" ></script>
        <script type="text/javascript" src="../ordine/orders_obj.js" ></script>

    </head>
    <body  id="app-container" ng-app="GGVAppCliente" ng-controller="GGVAppClienteController">

        <script src="../lib/angular.min.js"></script>
        <script src="../lib/angular-locale_it-it.js"></script>

        <script type="text/javascript" src="./cliente.js" ></script>

        <h1 class="sub-header" align="center">Totale: {{totale|currency}}</h1>
        <div>
            <div style="display: inline;" ng-repeat="(gruppo, voci) in ordine" class="table-responsive">
		 <div style="width: 30%; min-width:200px;min-height:300px;float:left; margin-right:30px;">
                	<h3 align="center">{{gruppo}}</h3>
	                <table class="table table-striped">
        	            <thead> 
                	        <tr>
                        	    <th>Quantità</th>
               		            <th>Nome</th>
                            	    <th>Prezzo unitario</th>
                             	    <th>Prezzo</th>
                        	</tr>
                    	    </thead>

                    <tbody>
                        <tr ng-repeat="voce in voci"> 
                            <td style="width:5%">{{voce.qta}}</td>
                            <td style="width:60%">{{voce.nome}}</td>
                            <td style="width:15%">{{voce.prezzounitario|currency}}</td>
                            <td style="width:15%">{{voce.prezzototale|currency}}</td>
                        </tr>
                    </tbody>
                </table>
		</div>
            </div>    
            <h1></h1>
        </div>


    </body>
</html>
