<!DOCTYPE html>
<html>
    <head>
        
        <title>Cassa GGV</title>
        
        <link rel="stylesheet" type="text/css" href="../css/index.css" />

        
        <script src="../lib/jquery-1.11.1.min.js"></script>
        <!--
                <script src="./js/jquery.mobile-1.4.4.min.js"></script>
        -->


        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="../lib/bootstrap.min.css">
        
        <script src="../lib/bootstrap.min.js"></script> 


        <script type="text/javascript" src="../js/functions.js" ></script>
        <script type="text/javascript" src="../ordine/orders_obj.js" ></script>

    </head>
    <body  id="app-container" ng-app="GGVAppCliente" ng-controller="GGVAppClienteController">

        <script src="../lib/angular.min.js"></script>
        <script src="../lib/angular-locale_it-it.js"></script>

        <script type="text/javascript" src="./cliente.js" ></script>

        <h2 class="sub-header">Ordine corrente, totale: {{totale_ordine|currency}}</h2>
        <div>
            <div ng-repeat="(gruppo, voci) in ordine" class="table-responsive">
                <h3>{{gruppo}}</h3>
                <table class="table table-striped">
                    <thead> 
                        <tr>
                            <th>Qta</th>
                            <th>Nome</th>
                            <th>Prezzo unitario</th>
                            <th>Prezzo</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="voce in voci"> 
                            <td>{{voce.qta}}</td>
                            <td>{{voce.nome}}</td>
                            <td>{{voce.prezzounitario|currency}}</td>
                            <td>{{voce.prezzototale|currency}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>    
            <h1></h1>
        </div>


    </body>
</html>
